{% extends 'base.html' %}

{% block content %}

<header>

  
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
        height: 70vh;
        
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">{{ blog.title }}</h1>
            <h4 class="mb-3"></h4>
            <p><img
                src="{{ url_for('static', filename='user_profiles/' + blog.author.image_file) }}"
                alt="{{ blog.author.username }}"
                class="img-fluid rounded-circle"
                style="max-height: 50px; width: 50px;"
                
              />     By: {{ blog.author.username }} </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>


  <div class="row mt-5">
      <div class="col-md-2">

        <div class="row">
            <br>
            <p class="text-center"></p>
            {% if blog.author == current_user %}
            <div class="col"><a class="btn btn-info btn-sm m-2" href="{{url_for('update_blog', blog_id=blog.id)}}">Update</a></div>
            <div class="col">
                <form action="{{url_for('delete_blog', blog_id=blog.id)}}" method="POST">
                    <input class="btn btn-danger btn-sm m-2" type="submit" value="Delete">
                   
                </form>
            </div>
            {% endif %}

            
        </div>

      </div>
      <div class="col-md-6">
        <h4 class="mb-3 text-center ">{{ blog.title }}</h4><hr>
        <small><p class="text-center text-muted">Posted on: {{blog.date_posted.strftime('%Y-%m-%d')}} Category: {{ blog.category }}</p></small>
        <p class="text-center mt-5">{{blog.content}}.</p>
      </div>
      <div class="col-md-4">

        <div class="container">
            <form  method="POST" action="">
                <h4 class="text-center"> Join {{ blog.author.username }} Mailing List!</h4>
                <fieldset>
                {{ form.hidden_tag() }}
                <div class="form-outline m-4">
                    {{form.username(class="form-control")}}
                {{form.username.label(class="form-label")}}
               
                </div>
                <div class="form-outline m-4">
                    {{form.email(class="form-control")}}
                {{form.email.label(class="form-label")}}
               
                </div>
                
            </fieldset>
            <div class="form-group text-center mt-4">
                    {{form.submit(class="btn btn-outline-primary m-3 text-center")}}
                   
                </div>
            </form>
        </div>

      </div>
  </div>


           
 
{% endblock %}
