{% extends 'base.html' %}

{% block content %}

  <header>
   
  
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('../static/images/pexels-christina-morillo-1181325.jpg');
        height: 50vh;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            
            <h5 class="mb-3 m-3">{{randoms.quote}}</h5>
            <p class="mb-3"><small>{{randoms.author}}</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>

<h3 class="text-center mt-5"> Recent Blogs</h3><hr>
<div class="container">

<!-- sample card -->

<div class="row ">
  <div class="col m-5 text-center">
   
    {% for blog in blogs %}
   <a href="{{ url_for('blog', blog_id=blog.id) }}"><div
      class="bg-image card w-50 shadow-1-strong mt-3 cardi"
      style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');"
      >
      <div class="card-body text-white">
        <div class="card-header"> 
        <h3 class="card-title">{{ blog.title }}</h3>
        <p class="card-text">
          
        </p>
        
        <div class="card-footer">
          <img
          src="{{ url_for('static', filename='user_profiles/' + blog.author.image_file) }}"
          alt="{{ blog.author.username }}"
          class="img-fluid rounded-circle mt-3"
          style="max-height: 50px; width: 50px;"
          
        /> <span>{{ blog.author.username }}</span><br>
        <small>
          Posted on {{blog.date_posted.strftime('%Y-%m-%d')}}
          Category: {{ blog.category }}
        </small>
        </div>
      </div>
    </div>
    </div></a>
    {% endfor %}

  </div>
</div>
</div>

<!-- sample card -->



{% endblock %}


